// Primary Colors 

$primary-dark-cyan: hsl(185, 75%,39%);
$primary-dark-blue: hsl(229, 23%,23%);
$primary-gray-blue: hsl(227,10%,46%);

// Neutral Colors
$neutral-dark-gray: hsl(0,0%,59%);
$neutral-gray: hsla(228,10%,47%,1);
$neutral-grayish: rgb(206,206,206);
$neutral-white: #FFFFFF;
$neutral-black: hsla(228,23%,23%,1);

$font-weights:(
    "regular": 400,
    "bold": 700
);